<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="index :: common_header(~{::meta},~{::link},~{::style})">
    <meta charset="UTF-8">
    <title>视频详情页面</title>
</head>
<style type="text/css">
    .play-panel{
        float: left;
        margin-left: 3rem;
        background-color: white;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    .aside-panel{
        float: left;
        margin-left: 2rem;
        background-color: white;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
    .cover{
        width: 80%;
        border-radius: .3em;
        box-shadow: 3px 3px 5px #888;
        margin-top: 40px;
    }
    .title{
        margin-top: 40px;
    }
</style>
<body class="row">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">视频详情页面</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其他页面 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/}">首页</a></li>
                        <li><a th:href="@{/video-case}">视频案例</a></li>
                        <li><a th:href="@{/text-case}">文字案例</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a th:href="@{/case-specialist}">案例专家</a></li>
                        <li><a th:href="@{/case-enterprise}">案例企业</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<ul class="breadcrumb">
    <li><a th:href="@{/video-case}">视频案例</a></li>
    <li><a href="#">视频详情</a></li>
    <li class="active" th:text="${videoInfo.videoId}">videoId</li>
</ul>
<div class="panel panel-default col-md-8 col-sm-12 play-panel">
    <div class="panel-heading">
        <h3 class="panel-title">当前播放：<span th:text="${videoInfo.videoName}"></span></h3>
    </div>
    <div class="panel-body">
        <div id="dplayer" style="width: 100%;"></div>
    </div>
</div>
<div class="panel panel-default col-md-3 col-sm-12 aside-panel">
    <div class="panel-heading">
        <h3 class="panel-title">视频详情</h3>
    </div>
    <div class="panel-body">
        <img id="cover" class="cover" th:src="@{/static/img/tumbnails/cover1.jpg}">
        <br>
        <h3 id="title" class="title" th:text="${videoInfo.videoName}">title</h3>
        <p id="summary" class="summary" th:text="${videoInfo.description}">This is a test summary.</p>
    </div>
</div>
<div th:replace="index :: footer"></div>
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/DPlayer.min.js}"></script>
<script>
    $(document).ready(function(){
        const dp = new DPlayer({
            container: document.getElementById('dplayer'),
            screenshot: true,
            logo: '/teach/static/img/logo-mini.png',
            video: {
                url: '[[${videoInfo.url}]]',
                pic: '/teach/static/img/tumbnails/cover[[${videoInfo.videoId%8}]].jpg',
                thumbnails: '/teach/static/img/tumbnails/cover[[${videoInfo.videoId%8}]].jpg',
            }
        });
    });
</script>
</body>
</html>